<ion-content>
	<div id="container">
		<ion-grid>
			<ion-row>
				<ion-col class="ion-text-start">
					<ion-button routerLink="/home">Home</ion-button>
				</ion-col>
				<ion-col>
					<h1>GeoGuesser</h1>
				</ion-col>
				<ion-col class="ion-text-center ion-align-self-center">
					<h2 *ngIf="round != 6">Round {{round}}/5</h2>
				</ion-col>
			</ion-row>
			<ion-row *ngIf="round != 6" class="row-map">
				<div class="image-round">
					<ion-spinner name="circles" *ngIf="loading"></ion-spinner>
					<img (click)="imageZoom()" [ngClass]="{'img-no-zoom': !zoom}" src="{{imageUrl}}" alt="Random picture" *ngIf="!loading">
				</div>
				<div id="map"></div>
				<div class="buttons">
					<ion-button *ngIf="btn" (click)="valider()" class="btn-valider">Validate</ion-button>
					<div *ngIf="afficheScore" class="score" style="color: black;">
						<b>You are at {{distance}} km of the location, you won {{score}} points</b><br>
						<ion-button (click)="suivant()">Next</ion-button>
					</div>
				</div>
			</ion-row>
			<ion-row *ngIf="round == 6" style="margin-top: 100px;">
				<ion-col class="ion-text-center ion-align-self-center">
					<h1>Your score is {{scoreTotal}}/20000 points !</h1>
					<ion-button (click)="restart()" style="margin-top: 70px;">Play again</ion-button>
				</ion-col>
			</ion-row>
		</ion-grid>
	</div>
</ion-content>