#resultPage, #quizzVersusPages {
    background-color: #0F719E !important;
    height: 100%;

    .alignCenter {
        text-align: center;

        img {
            max-width: 85%;
        }
    }

    .infoText {
        font-family: 'Segoe Script';
        color: orange;
        font-size: 40px;
        margin: 0;
        padding: 15px;
    }

    .marginLogo {
        margin-top: 5%;
    }

    .btnQuizz {
        font-size: 17px;
        --border-radius: 0;
        --border-width: 1px;
        width: 20%;
        height: 20vh;
        transition: transform .6s ease-in-out;

        &:hover {
            transform: scale(1.2);
            --background: #FFB405;
            color: white;
            --border-radius: 10px !important;
        }
    }
}
.textStyle {
    font-size: 25px;
    text-transform: uppercase;
    text-shadow: 1px 2px orange;
}