<div *ngIf="manche <= 9">
  <h2>Round {{ manche + 1 }} / 10 </h2>
  <h2>Player {{ tourJoueur}}'s turn </h2>

<img src="{{imageUrl}}" *ngIf="!loading">
<ion-spinner name="circles" *ngIf="loading"></ion-spinner>

<p>{{ questionCourrante?.record.fields.site }}</p>

<ion-button *ngFor="let rep of reponses" (click)="validate(rep.value)">{{rep.value}}</ion-button>
<ion-button routerLink="/home" color="danger">Home</ion-button>	

</div>
<div *ngIf="manche > 9">
<h3> {{ (scoreJ1 > scoreJ2) ? 'Player 1 won !' : (scoreJ1 < scoreJ2) ? 'Player 2 won !' : 'Tie !' }} </h3>
<ion-button routerLink="/quizz">New Quiz</ion-button>	
<ion-button routerLink="/home">Home</ion-button>	
</div>