#resultPage, #quizzCountriesPages {
    background-color: #0F719E !important;
    height: 100%;

    .alignCenter {
        text-align: center;
    }

    .infoText {
        font-family: 'Segoe Script';
        color: orange;
        font-size: 40px;
    }

    .marginLogo {
        margin-top: 5%;
    }
}

#countrieName {
    font-size: 30px;
    text-transform: uppercase;
    text-shadow: 1px 2px orange;
}

#goodAnswerText {
    color: #2dd36f;
    text-align: center;
}

#badAnswerText {
    color: #eb445a;
    text-align: center;
}

.clicked {
    --background:green !important;
}

.btnQuizz {
    font-size: 17px;
    --border-radius: 0;
    --border-width: 1px;
    width: 20%;
    height: 20vh;
    transition: transform .6s ease-in-out;

    &:hover {
        transform: scale(1.2);
        --background: #FFB405;
        color: white;
        --border-radius: 10px !important;
    }
}