<div *ngIf="manche <= 9">
  <h2>Manche {{  manche + 1  }} / 10 </h2>
  <div *ngIf="repondu">
    <h3 *ngIf="correct">Correct !</h3>
    <div *ngIf="!correct">
      <h3> Wrong ! Answer(s) : </h3>
      <div *ngFor="let reponse of reponsesCorrectes"><strong>{{reponse.record.fields.site}}</strong> <br></div>
    </div>
  </div>
<p>{{ questionCourrante?.value }}</p>

<ion-button *ngFor="let rep of reponses" (click)="ajoutReponse($event, rep)" [disabled]="repondu">{{rep.record.fields.site}}</ion-button>
<ion-button *ngIf="!repondu" (click)="validate()" color="success">validate</ion-button>

<ion-button (click)="nextRound()" *ngIf="repondu && manche <= 9" color="success">{{ (manche < 9) ? 'next' : 'end'}}</ion-button>

</div>
<div *ngIf="manche > 9">
  <h3> You have {{ bonneReponses }} correct answers </h3>
  <ion-button routerLink="/quizz">New Quiz</ion-button>	
  <ion-button routerLink="/home">Home</ion-button>	
</div>