#choosePage {
    background-color: #0F719E !important;
    height: 100%;

    .buttons {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;

        .btnQuizz {
            font-size: 17px;
            --border-radius: 0;
            --border-width: 1px;
            width: 200px;
            height: 100px;
            margin: 5px 20px 5px 20px;
            transition: transform .6s ease-in-out;
        
            &:hover {
                transform: scale(1.2);
                --background: #FFB405;
                color: white;
                --border-radius: 10px !important;
            }
        }
    }
}

#titleChoose {
    text-align: center;
    font-size: 50px;
    color: orange;
    margin: 6% 0 6% 0;
    font-family: 'Segoe Script';
}

#homeBtnContainer {
    text-align: center;
    margin-top: 7%;
}

#homeBtn {
    width: 25%;
}
