<ion-content>
    <div id="choosePage" style="background-color: #0F719E !important; height: 100%;">
	    <ion-item>
		    <ion-label>Difficulty</ion-label>
		    <ion-select value="difficulty" [(ngModel)]="difficulty">
			    <ion-select-option value="4">4</ion-select-option>
			    <ion-select-option value="5">5</ion-select-option>
			    <ion-select-option value="6">6</ion-select-option>
			    <ion-select-option value="7">7</ion-select-option>
			    <ion-select-option value="8">8</ion-select-option>
		    </ion-select>
	    </ion-item>
        <div>
            <p id="titleChoose">SELECT A QUIZZ !</p>
        </div>
        <div style="text-align: center;" >
	        <ion-button class="btnQuizz" fill="outline" routerLink="/quizz/places" [queryParams]="{difficulty: difficulty}">Places Quizz</ion-button>
	        <ion-button class="btnQuizz btnCountrie" fill="outline" routerLink="/quizz/countries">Countries Quizz</ion-button>
	        <ion-button class="btnQuizz" fill="outline" routerLink="/quizz/versus" [queryParams]="{difficulty: difficulty}">Versus Quizz</ion-button>
        </div>
        <div id="homeBtnContainer">
	        <ion-button id="homeBtn" routerLink="/home">Home</ion-button>
        </div>
    </div>
</ion-content>
