#choosePage {
    background-color: #0F719E !important;
    height: 100%;
}

.btnQuizz {
    font-size: 17px;
    --border-radius: 0;
    --border-width: 1px;
    width: 35%;
    height: 30vh;
    transition: transform .6s ease-in-out;

    &:hover {
        transform: scale(1.2);
        --background: #FFB405;
        color: white;
        --border-radius: 10px !important;
    }
}

.btnCountries {
    margin-right: 5%;
}

#titleChoose {
    text-align: center;
    font-size: 50px;
    color: orange;
    margin: 6% 0 4% 0;
    font-family: 'Segoe Script';
}

#homeBtnContainer {
    text-align: center;
    margin-top: 7%;
}

#homeBtn {
    width: 25%;
}
