<ion-content>

    <div id="container">
        <ion-grid>
            <ion-row>
                <ion-col>
                    <div>
                        <img id="logoHome" src="../assets/logoGeoquizz.png" alt="GeoQuizz" />
                    </div>
                </ion-col>
            </ion-row>
            <ion-row id="buttonContainer">
                <ion-col>
                    <div>
                        <ion-button class="homeButton">Quiz</ion-button>
                    </div>
                </ion-col>
                <ion-col>
                    <div>
                        <ion-button class="homeButton">GeoGuesser</ion-button>
                    </div>
                </ion-col>
            </ion-row>
        </ion-grid>
    </div>

</ion-content>